<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
    <h3>URL Shortener Microservice</h3>
    
    <p style='font-weight: bold;'>1. Generate short link: </p>
    <p>https://ib-shortener-url.herokuapp.com/new/<span style='font-style: italic; color: green'>-your link-</span></p>
    <p>For example: <br>https://ib-shortener-url.herokuapp.com/new/<span style='font-style: italic; color: green'>https://www.google.com</span></p>
    
    <p>Example output: <br>
    <span>{ "original_url":"https://www.google.com", "short_url":"https://ib-shortener-url.herokuapp.com/<span style='color: red'>8170"</span> }</span>
    </p>
    <p style='font-weight: bold;'>2. Usage: </p>
    <p>https://ib-shortener-url.herokuapp.com/8170</p>
</body>
</html>
